<div class="container col-md-6">
  <div class="card">
    <div class="class-header">
      <p class="p-2 bg-success text-white text-center">Añadir Factura</p>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="">Numero: </label>
          <input type="text" class="form-controltext" />
        </div>
        <div class="form-group">
        <label for="">Fecha: </label>
        <input type="date" name="Fecha">
        </div>
        <div class="form-group">
          <label for="">Total Venta: </label>
          <input type="text" class="form-controltext" />
        </div>
        <div class="form-group">
          <label for="">Descuento: </label>
          <input type="text" class="form-controltext" />
        </div>
        <div class="form-group">
          <label for="">Total Costo: </label>
          <input type="text" class="form-controltext" />
        </div>
        <div class="form-group">
          <label for="">Forma de pago: </label>
          <input type="text" class="form-controltext" />
        </div>
        <button (click)="Guardar()" class="btn btn-danger">Guardar</button>
      </form>
    </div>
  </div>
</div>
