<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fas fa-home"></i> Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" routerLink="/lista">
            <i class="fas fa-list"></i> Lista</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="isLogged">
        <li class="nav-item disabled">
          <a class="nav-link">
            {{userName}}</a>
        </li>
        <li><a id="cart" (click)="cart()" style="color: aliceblue;"><i class="fa fa-shopping-cart"></i> Cart</a></li>

      </ul>

      <!-- <img *ngIf="isLogged" src="{{userLogged.photoUrl}}" class="rounded-circle mr-3" style="width: 50px"> -->
      <!-- <button *ngIf="isLogged" type="button" class="btn btn-outline-primary" routerLink="/perfil"> Perfil</button> -->
      <div *ngIf="isLogged" class="btn btn-outline-primary btn-sm">
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/perfil">Perfil</button>
          <button mat-menu-item routerLink="/perfil/usuario">Actualizar</button>
        </mat-menu>
      </div>
      <button *ngIf="!isLogged" class="btn btn-outline-success" type="submit" routerLink="/login">
        <i class="fas fa-sign-in-alt fa-lg"> </i> Iniciar Sesión</button>
      <button *ngIf="isLogged" class="btn btn-outline-danger" type="submit" (click)="logOut()">
        <i class="fas fa-sign-out-alt fa-lg"> </i> Cerrar Sesión</button>
    </div>
  </div>
</nav>
<app-carrito *ngIf="openCart"></app-carrito>
