<div class="container d-flex justify-content-center">
  <div class="card">
    <div class="card-body">
      <h3>Cambiar Contraseña</h3>
      <form #c="ngForm" (ngSubmit)="updatePass()">
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password" required>
        </div>
        <div class="form-group">
          <button class="btn btn-outline-success btn-block" [disabled]="!c.valid">
            <i class="fas fa-sign-in-alt"></i> Actualizar</button>
        </div>
      </form>
      <form #f="ngForm" (ngSubmit)="update()" novalidate>
        <div class="form-group">
          <label for="nombre"> Nombre</label>
          <input type="text" name="nombre" id="nombre" class="form-control" [(ngModel)]="cliente.nombre" required>
        </div>
        <div class="form-group">
          <label for="apellido"> Apellido</label>
          <input type="text" name="apellido" id="apellido" class="form-control" [(ngModel)]="cliente.apellido" required>
        </div>
        <div class="form-group">
          <label for="telefono"> Telefono</label>
          <input type="text" name="telefono" id="telefono" class="form-control" [(ngModel)]="cliente.telefono" required>
        </div>
        <div class="form-group">
          <label for="localidad"> Localidad</label>
          <input type="text" name="localidad" id="localidad" class="form-control" [(ngModel)]="domicilio.localidad"
            required>
        </div>
        <div class="form-group">
          <label for="numero"> Numero</label>
          <input type="number" name="numero" id="numero" class="form-control" [(ngModel)]="domicilio.numero" required>
        </div>
        <div class="form-group">
          <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
            <i class="fas fa-sign-in-alt"></i> Actualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>
